<div (window:resize)="windowSize()">

  <mat-drawer-container class="primary-container">
    <!--============== Left Side Bar ==============-->
    <mat-drawer [mode]='$any(sideBarMode)' #leftSideBar [opened]='$any(opensidebar)' class="primary-sidebar">
      <mat-toolbar [color]="theme" class="toolbar">
        <span class="side-bar-text">Sidenav Left</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" (click)="leftSideBar.toggle();closeSideBar()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>

      <!--===== SideBar Links =====-->
      <mat-list class="links-list">

        <!-- Loop Of Links-->
        <ng-container *ngFor="let links of sidebarItems">
          <mat-list-item [routerLink]="links.link" routerLinkActive="primary-active">
            <mat-icon matListItemIcon>{{links.logo}}</mat-icon>
            <div matListItemTitle class="primary-link-text">{{links.text}}</div>
          </mat-list-item>
        </ng-container>

        <!-- Dropdown Link -->
        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" (click)="opeDropdown()">
          <mat-icon matListItemIcon>home</mat-icon>
          <span class="full-width primary-link-text" *ngIf="isExpanded || isShowing">Parent Menu <mat-icon class="menu-button" *ngIf="isExpanded || isShowing">expand_more</mat-icon></span>
        </mat-list-item>
        <mat-list class="submenu" *ngIf="isExpanded">
          <mat-list-item *ngIf="dropdoenitems">
            <div matListItemTitle>Submenu Item 1</div>
          </mat-list-item>
          <mat-list-item matListItemTitle *ngIf="dropdoenitems">
            <div matListItemTitle>Submenu Item 2</div>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-drawer>

    <!--============== Rigth Side Bar ==============-->
    <mat-drawer mode="over" #rightsidebar class="right-side-bar" position="end">
      <mat-toolbar [color]="theme">
        <span>Sidenav Left</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" (click)="rightsidebar.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
    </mat-drawer>

    <!--============== Content Section ==============-->
    <mat-drawer-content>

      <!--== Toolbar ==-->
      <mat-toolbar [color]="theme" class="toolbar">
        <button mat-icon-button class="example-icon favorite-icon" *ngIf="toggleButton || sidebartogglebtn" (click)="leftSideBar.toggle(); openSideBar()">
          <mat-icon>dehaze</mat-icon>
        </button>
        <span>Home</span>
        <span class="example-spacer"></span>
        <mat-slide-toggle color="primary" (change)="changeTheme($event)"></mat-slide-toggle>
        <button mat-icon-button class=" example-icon">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="rightsidebar.toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </mat-toolbar>

      <!--== Components Loading Section ==-->
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>